.style__Modal{
    border-radius: 23px !important;
}

.text__title--Privacity{
    font-family: 'Montserrat';
    text-align: center;
    margin-top: 1rem;
    font-size: 1.5rem;
    color: #1779B6;
}
.text__Privacity{
    color: #708198;
    text-align: justify;
    margin-left:  1rem;
    margin-right: 1rem;
}
.style__Modal::-webkit-scrollbar {
    display: none;
}
.icon__Privacity{
    margin-left: 92.5%;
    position: fixed;
}
@media (max-width: 767px) { 
    .icon__Privacity{
        margin-left: 89% !important;
    }
}